

/*主版块div*/
div.main{
	min-width:700px;
	min-height:92.6%; 
	/*float:right;*/
	padding:30px 20px 0px 20px;
	background-color: white;
	/*text-align: center;*/
}

/*主板块的内容区，与main之间有margin*/
div.mainContent{
	min-width:1100px;
	min-height: 750px;
	margin:0 auto;
}

/*主页，图片展示区*/
div.broadcastImage{
	width:100%;
	height:300px;
	min-width: 1100px;
	margin:0 auto;
	background-color:#F0F0F0; /*#F7F7FD;*/
}

div.project{
	width:100%;
	height:380px;
	/*height:427px;*/
	min-width: 1100px;
	margin:30px auto;
	background-color:#F0F0F0; /*#F7F7FD;*/
}

/*内容区，标题*/
/*div.project .title,div.assistant .title,div.releaseExperiment */.title{
	color:white;
	font-size:1.2em;
	font-weight: bold;
	margin:0px;
	background-color:#0099CC;/*#336699;*/ /*#272822;*/
}

/*内容区大标题*/
/*div.project .bigTitle,div.assistant .bigTitle,div.releaseExperiment */
.bigTitle{
	background-color:#336699;
	font-size:1.3em;
	line-height: 40px;
	height:40px;
	margin-bottom:10px;
}

/*更多*/
.more{
	float:right;
}

.more:hover{
	text-decoration: underline;
}
/*内容区---实验项目----学院项目*/
.collegeProject{
	margin-left:10px;
	width:48.5%;
	float:left;
}

/*内容区----实验项目----实验员项目*/
.studentProject{
	width:48.5%;
	margin-left:51%;
}
/*
.collegeProject ul{
	padding:0;
	margin:0;
	width:100%;
	height:300px;
	background-color: yellow;
}*/


/*内容区-----实验项目----最新实验信息*/
marquee{
	/*behavior:scroll;*/
	direction:up;
	width:100%;
	height:300px;
	background-color: #FFFFCC;/*yellow;*//*#FFFF66;*/
}

.project ul li{
	height:40px;
	padding-left:20px;
	/*list-style-type: none;*/
}

.project ul li a{
	color:black;
}

.project ul li a:hover{
	text-decoration: underline;
	color:red;
}

/*内容区-------实验助手*/
.assistant{
	background-color:#F0F0F0; /*#F7F7FD;*/
	height:250px;
}

/*内容区-------实验助手-----最新实验助手*/
/*.assistant */table{
	margin:10px auto;
	width:96%;
	/*border:1px solid skyblue;*/
	border-collapse: collapse;
}

/*内容区------实验助手-----最新实验助手----表格*/
/*.assistant */table tr td{
	background-color: white;
}

/*内容区------实验助手-----最新实验助手----表格-----基数行*/
/*.assistant */table tr.even td{
	background-color: #F0F0F6;/*#E7E6EC;*/
}

/*内容区------实验助手-----最新实验助手----表格------表头*/
/*.assistant */table tr.th td{
	font-weight: bolder;
	font-size: 1.1em;
	color:white;
	background-color: #2BA0DB;
}

/*.assistant */table tr.hightLight td{
	background-color: #CCCCCC;
}

/*内容区-----最新消息*/
.newMessage{
	background-color:#FFFFCC;/*#FFFFCC;*//*#F0F0F0;*/ /*#F7F7FD;*/
	width:23%;
	height:30%;
	position: fixed;
	top:70%;
	left:77%;
	padding:0px;
	margin:0px;
	border:1px solid gray;
}

.newMessage p.title{
	padding-left:10px;
	margin:0;
	line-height: 35px;
	height: 35px;
	font-weight: bolder;
	background-color:#99CCFF; /*#ccc;*/
}
.close{
	
	margin-top:3px;
	margin-right: 5px;
	float:right;

}

.newMessage ul li{
	padding-top:5px;
	padding-bottom: 5px;
}



/*模态对话框*/
.model{
	width:100%;
	height:100%;
	/*background-color:#F0F0F0; /*white;*/
	background-color: rgba(0, 0, 0, 0.8);  
	position: fixed;
	top:0;
	left:0;
	display: none;
	text-align: center;
}

.model div.back{
	width:100%;
	height:100%;
	background-color: white;
	opacity: 0.7;
	position: fixed;
	text-align: center;
	z-index: 1;
}

.model div.dialog{
	width:50%;
	min-height:70%;
	margin:100px auto;
	background-color: white;
	position: relative;
	border-radius: 20px;
	z-index: 2;
	padding-bottom: 10px;
}



.model div.dialog .top{
	width:200px;
	height:200px;
	margin:0 auto;
	background-color:white;
	z-index: 1;
}

.navbar {
    min-height: 75px;
    background:rgba(204, 255, 255, 0.68);
}